*, ::after, ::before {
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
}

.TerminalContainer {
    width: 661px; 
    height: 441px; 
    display: flex; 
    flex-direction: column;
    align-items: center;
    border-radius: 7px;
}

.TerminalMainContainer {
    height: 100%; 
    width: 100%; 
    background: rgb(57, 58, 56); 
    border-bottom-right-radius: 7px;
    border-bottom-left-radius: 7px;
    color: white; 
    padding: 5px; 
    font-family: helvetica, monospace;  
}

.TypewriterContainer {
    position: relative; 
    color: white; 
    padding: 5px; 
    font-family: 'JetBrains mono', monospace;
    font-size: 15px;
    line-height: 1.5; 
    letter-spacing: 0.5;
    font-weight: 400;
}