*, ::after, ::before {
  margin: 0; 
  padding: 0; 
  box-sizing: border-box;
}

.MainContainer {
  height: 100vh; 
  width: 100vw; 
  background-image: url('assets/background.jpeg'); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow-y: hidden;
  display: flex; 
  flex-direction: column;
  align-items: center;
  cursor: pointer; 
  z-index: -9000; 
}

.bottom-center-wrapper {
  position: relative; 
  display: flex; 
  justify-content: center;
  align-items: center;
  margin-top: auto; 
  margin-bottom: 10px; 
  width: 80%; 
  height: 50px; 
}

.top-center-wrapper {
  position: relative; 
  display: flex; 
  justify-content: center;
  align-items: center;
  width: 100%; 
  margin-bottom: auto;
  height: 17px; 
}

.center-wrapper {
  width: 100%; 
  height: 100%; 
  display: flex; 
  justify-content: center;
  align-items: center;
  position: relative; 
}